@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
body,html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: none;
  background-color: #2b2b2b;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
}

div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

/* toastify.css */
.Toastify__toast-container {
  z-index: 999999; /* 원하는 z-index 값으로 설정 */
}

.Toastify__toast {
  max-width: 90%; /* 모바일 화면에서 튀어나가지 않도록 최대 너비 설정 */
  margin: 10px auto; /* 중앙 정렬 */
}

.Toastify__toast-body {
  font-size: 16px; /* 텍스트 크기 변경 */
}

@media (max-width: 600px) {
  .Toastify__toast {
    font-size: 14px; /* 모바일 화면에서 텍스트 크기 조정 */
  }
}